---
import { MainFrame } from "@/components/site/main-frame";
import Layout from "@/layouts/layout.astro";
import { SitePostCard } from "@/components/site/site-post-card";
import { PostService } from "@/services/post.service";
import type { GetStaticPathsOptions } from "astro";
import { SitePagination } from "@/components/site/site-pagination";

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const posts = await PostService.getPosts();

  return paginate(posts, { pageSize: 3 });
};

const { page } = Astro.props;
---

<Layout title="okmtyuta dev">
  <MainFrame>
    <div
      class="grid gap-x-3 gap-y-6 grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3"
    >
      {
        page.data.map((post) => {
          return <SitePostCard post={post.data} slug={post.slug} />;
        })
      }
    </div>

    <div class="mt-12 mb-2"><SitePagination {...page} /></div>
  </MainFrame>
</Layout>
