---
import "../styles/global.css";
import Layout from "@/layouts/layout.astro";
import type { CollectionEntry } from "astro:content";
import MainFrame from "@/components/site/main-frame.astro";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { buttonVariants } from "@/components/ui/button";

type Props = CollectionEntry<"post">;
---

<Layout title="okmtyuta dev">
  <MainFrame>
    <div class="grid grid-cols-4 gap-2">
      <a
        class={`${buttonVariants({ variant: "default" })} w-full`}
        href={"/about"}
      >
        About me
      </a>
    </div>

    <div class="my-3 border-t"></div>

    <div
      class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3"
    >
      <Card className="grid grid-rows-[auto_1fr_auto]">
        <CardHeader>
          <CardTitle>日記</CardTitle>
        </CardHeader>
        <CardContent>
          勉強したこととか旅行に行った場所とか作ったものとかをまとめています。
        </CardContent>
        <CardContent />
        <CardFooter>
          <a
            class={`${buttonVariants({ variant: "default" })} w-full`}
            href={`/posts`}
          >
            See More
          </a>
        </CardFooter>
      </Card>

      <Card className="grid grid-rows-[auto_1fr_auto]">
        <CardHeader>
          <CardTitle>ギャラリー</CardTitle>
        </CardHeader>
        <CardContent>
          撮った写真とか描いた絵とかをまとめています。
        </CardContent>
        <CardFooter>
          <a
            class={`${buttonVariants({ variant: "default" })} w-full`}
            href={`/gallery`}
          >
            See More
          </a>
        </CardFooter>
      </Card>
    </div>
  </MainFrame>
</Layout>
