---
import "../styles/global.css";

import Layout from "@/layouts/layout.astro";
import { PostService } from "../services/post.service";
import type { CollectionEntry } from "astro:content";
import MainFrame from "@/components/site/main-frame.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { buttonVariants } from "@/components/ui/button";

export const getStaticPaths = async () => {
  const posts = await PostService.getPosts();
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: post,
    };
  });
};

type Props = CollectionEntry<"post">;
---

<Layout title="okmtyuta dev">
  <MainFrame>
    <div class="flex flex-wrap gap-2">
      <a class={buttonVariants({ variant: "default" })} href={"/about"}>
        About me
      </a>
    </div>

    <div class="my-3 border-t"></div>

    <div
      class="grid gap-3 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-3"
    >
      <Card className="grid grid-rows-[auto_1fr_auto]">
        <CardHeader>
          <CardTitle>日記</CardTitle>
        </CardHeader>
        <CardContent />
        <CardFooter>
          <a
            class={`${buttonVariants({ variant: "default" })} w-full`}
            href={`/posts`}
          >
            Read More
          </a>
        </CardFooter>
      </Card>
    </div>
  </MainFrame>
</Layout>
